.hamza_carousil_1 {
    position: relative;
}

//
.imgss_carosil {
    width: 100%;
    height: 45.5vw;
}

.part_2 {
    width: 100%;
    height: 4vw;
    background-color: rgb(33, 30, 24);
    background-color: rgba(0, 0, 0, 0.5);
    padding-left: 115px;
    padding-right: 115px;

    .h1_part_2 {
        font-size: 30px;
        font-weight: bold;
    }
}

.hamza_carousil_1 {
    p {
        text-align: start;
        font-size: 18px;
    }

    .hamza_carousil_1 {
        position: absolute;
        background-color: firebrick;
        z-index: 1;
        display: table;
        width: 100%;
        height: 100%;

    }

    .hamza_div_2 {
        h1 {
            font-family: "Satisfy", cursive;
        }
    }

    .carousel-caption {
        bottom: 20.25rem;
        font-size: 22px;

        h5 {
            font-family: "Satisfy", cursive;
            font-weight: 400;
            font-style: normal;
            font-size: 60px;
        }

        .Delicious {
            color: $orange_color;
        }
    }
}

.mian_links {
    // background-color: chartreuse;
    height: max-content;
    width: 100%;
    display: flex;
    flex-direction: row;
    column-gap: 30px;
    justify-content: center;

    a {
        text-decoration: none;
        list-style: none;
        color: white;
        border: 2px solid $orange_color;
        border-radius: 50px;
        padding: 5px 15px;
    }

    a:hover {
        background-color: rgb(255, 176, 59);
        transition: 0.5s;
    }
}

//
.sec_main_2 {
    background-color: rgb(255, 250, 242);
    width: 100%;
    height: 31vw;
}

.carosil_icons_sec2 {
    // background-color:rgb(255, 250, 242);
    width: 100%;
    height: 30vw;
    display: flex;

    .carousil_video {
        width: 50%;
        height: 25vw;
        // background-color: aqua;

        img {
            overflow: auto;
            width: 100%;
        }
    }

    .para_and_icons {
        width: 50%;
        height: 25vw;
        // padding-left: 10px;

        .icons_color {
            i {
                color: $orange_color;
            }

        }

        h1 {
            font-family: "Satisfy", cursive;
            font-weight: 400;
            font-style: normal;
            color: rgb(66, 62, 56);
            font-size: 50px;
            font-weight: bold;
        }

        .para_last {
            padding-left: 20px;
        }
    }

}

// sec_3
.WhyUs_and_para {
    // background-color: rgb(29, 90, 143);
    width: 100%;
    height: 10vw;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;


    h5 {
        // background-color: rgb(255, 247, 235);
        color: rgb(0, 0, 0);
    }

    p {
        font-family: "Satisfy", cursive;
        font-weight: 400;
        font-style: normal;
        color: rgb(17, 17, 17);
        font-size: 30px;
    }

    .Our_Restaurant {
        color: $orange_color;
    }

    h5 {
        background-color: rgb(255, 247, 235);
        color: $orange_color;
        border-radius: 25px;
        width: max-content;
        padding: 3px 15px;
    }
}

// sec_3
.sec_main_3 {
    background-color: rgb(255, 255, 255);
}

// sec_3
.boxxx_sec_3 {
    // background-color: aqua;
    height: 13vw;
    width: 100%;
    padding-bottom: 20px;
    text-align: start;

    div {
        display: flex;
        justify-content: center;
        background-color: rgb(250, 250, 250);
        flex-direction: column;
        row-gap: 8px;
        transition: 0.5s;
        padding-left: 40px;
    }

    h1 {
        font-size: 35px;
        color: $orange_color;
    }

    h2 {
        font-family: $font_page;
        font-weight: 400;
        font-style: normal;
        color: rgb(17, 17, 17);
        font-size: 25px;
    }

    p {
        color: gray;
        font-size: 15px;
    }

    div:hover {
        background-color: $orange_color;

        h2,
        p,
        h1 {
            color: white;
        }
    }
}

// sec_4
.sec_main_4 {
    // background-color: aquamarine;
    width: 100%;
    height: 47.5vw;

    .menu_div {
        display: flex;
        flex-direction: column;
        align-items: center;
        // background-color: blue;
        width: 100%;
        height: 10vw;
        justify-content: center;

        h1 {
            background-color: rgb(255, 247, 235);
            color: $orange_color;
            border-radius: 25px;
            width: max-content;
            padding: 3px 15px;
            font-size: 22px;

        }

        p {
            font-family: "Satisfy", cursive;
            font-weight: 400;
            font-style: normal;
            color: rgb(17, 17, 17);
            font-size: 30px;
        }
    }
}

.between_img {
    position: relative;
}

.carousil_between_img {
    position: absolute;
    top: 1111px;
    left: 580px;

}

.carousil_between_img {
    // background-color: $orange_color;
    width: 100px;
    height: 130px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;

    i {
        color: white;
        font-size: 80px;
    }
}

.sec_main_2 {
    button:hover {
        padding: 45px;
        border-radius: 50%;
        animation-name: mohamza;
        animation-duration: 1s;
    }

    button:hover .bi-play-fill {
        font-size: 150px;
        transition: 150ms;
    }

    // @keyframes mohamza {
    //     from {
    //         transform: scale(0.6, 0.6);
    //         opacity: 1;
    //     }

    //     to {
    //         transform: scale(1, 1);
    //         opacity: 0;
    //     }


    // }

}

.div_only_sass {
    // background-color: red;
    width: 100%;
    height: 86.5vh;
    display: flex;

    .div_only_sass_part_1 {
        width: 50%;
        height: 86.5vh;
        // background-color: burlywood;
        display: flex;
        flex-direction: column;
        row-gap: 50px;
        font-size: 25px;
    }

    .div_only_sass_part_2 {
        width: 50%;
        height: 86.5vh;
        // background-color: forestgreen;
        display: flex;
        flex-direction: column;
        row-gap: 50px;
        font-size: 25px;
    }

    img {
        border-radius: 50%;
        width: 70px;
        height: 70px;
    }

    .div_span_menu {
        display: flex;
        flex-direction: column;
        font-size: 15px;
    }

    .div_img_and_span {
        // background-color: aquamarine;
        width: 100%;
        height: max-content;
        display: flex;
        flex-direction: row;
        column-gap: 11px;

        .span_menu_colorGrey {
            color: gray;
            font-size: 15px;
            font-style: italic;
        }

        .img_backgr {
            background-color: rgb(237, 237, 237);
            width: 80px;
            height: 80px;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 50px;
        }

        .dolar_menu {
            color: $orange_color;
            font-weight: bold;
        }

        .point_for_menu {
            color: gray;
        }
    }
}

// links_menu_only_Sass
.links_menu_only_Sass {
    // background-color: chartreuse;
    width: 100%;
    height: 5vw;
    display: flex;
    flex-direction: row;
    column-gap: 20px;
    align-items: center;
    justify-content: center;

    div {
        a {
            text-decoration: none;
            color: gray;
            font-family: $font_page;
            font-weight: 400;
            font-style: normal;
        }
    }

    a:hover {
        color: $orange_color;
    }
}

// sec_main_5
.sec_main_5 {
    // background-color: chartreuse;
    width: 100%;
    height: 28vw;
}

// .Specials_and_para p{
//     font-family:$font_page;
//         font-weight: 400;
//         font-family:$font_page;
//         font-size: 40px;
//         .Specials{
//             color:$orange_color;
//         }
//         h5{
//             background-color: aqua;
//             width: 100px;
//             height: 100px;
//         }
// }
.WhyUs_and_para {
    // background-color: aquamarine;
    width: 100%;
    height: 10vw;
}

.sec_main_5 {
    .image {
        // background-color: aqua;
        width: 100%;
        height: 100%;
    }

    img {
        width: 75%;
        height: 100%;
    }
}

.collapseExampleee_link {
    p {
        text-align: start;
    }

    a {
        font-weight: bold;
        font-size: 15px;
    }

    p:hover {
        color: $orange_color ;
    }
}

#hamza_speacil {
    width: 1800px;
}

.h1_para_specials {
    text-align: start;

    h1 {
        font-size: 25px;
        font-weight: bold;
        font-family: $font_page;
    }

    p {
        font-size: 15px;
    }
}

// sec_6
.sec_main_6 {
    background-color: blue;
    width: 100%;
    height: 32vw;
    .part_1{
        flex-direction: column;
        h5{
            font-family: $font_page;
            font-size: 40px;
            font-weight: bold;
        }
        p{
            font-weight: bold;
            font-size: 30px;
            // border-bottom: solid 1px orange;
        }
        .gg{
            border-bottom: orange 3px solid;
        }
    }
ul{
      list-style-type: none;
}
    .image_sec_6 {
        width: 100%;
        height: 100%;

        img {
            width: 100%;
            height: 100%;
        }
    }

    .carousel-indicators [data-bs-target] {
        width: 15px;
        height: 15px;
        border-radius: 50%;
        background-color: $orange_color ;
    }

    .carousel-indicators [data-bs-target]:active {
        background-color: $orange_color ;
    }

}

// sec_7_BookA_Table
.sec_7_BookA_Table {
    width: 100%;
    height: 42vw;

    // background-color: cadetblue;
    .span_book_a_table {
        color: $orange_color;
    }

    .WhyUs_and_para {
        // background-color: aqua;
        width: 100%;
        height: 10vw;
    }

    .input_and_img_sec_7 {
        background-color: rgb(250, 250, 250);
        width: 100%;
        height: 30vw;
    }

    .img_sec_7 {
        img {
            width: 100%;
            height: 100%;
        }
    }
}

.input_and_img_sec_7 {
    div {
        height: 100%;
    }
}

.input_divs div {
    width: 100%;
    height: max-content;
    // border: 1px solid;
}

.input_sec_7 div {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    row-gap: 20px;

    .input_part_1 {
        flex-direction: row;
    }

    .input_part_2 {
        flex-direction: row;
    }

    .div_1_input input {
        border: none;
        outline: none;
        padding: 5px;
    }

    //  .textarea{

    // }


    // 
    .wawawaw {
        width: 100%;
        height: 100%;
    }

    // 
    .butttn button {
        background-color: $orange_color;
        padding: 15px 70px;
        border-radius: 5px;
        border: none;
        color: white;
    }
}

.input_sec_7 input {
    background-color: rgb(255, 255, 255);
}

.input_time input {
    width: 240px;
}

// sec_8_Gallery
.sec_8_Gallery {
    // background-color: brown;
    width: 100%;
    height: 48vw;

    .span_gallery_color {
        color: $orange_color;
    }

    .parnt_sec8 div {
        height: 100%;
    }

    .img_sec8 {
        // background-color: chartreuse;
        height: max-content;
        // border: 10px solid;
    }
}

.parnt_sec8 {
    width: 100%;
    height: max-content;
    row-gap: 20px;

    img {
        width: 100%;
        height: max-content;
        transition: 0.5s;
    }

    .img_sec8:hover {
        padding: 1px;
    }
}

.sec_10 {
    background-color: aquamarine;
    width: 100%;
    height: 30vw;
}
.sec_11{
    // background-color: red;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    row-gap: 30px;
}

// sec_11
// .sec_11 {
//     border-color: #00ffff;
//     width: 100%;
//     height: 50vw;

//     .span_contact_color {
//         color: $orange_color;

//         .WhyUs_and_para {
//             width: 100%;
//             height: 9vw;
//         }

//         .map_contact{
//             width: 100%;
//             height: 14vw;
//             background-color: red;
//             iframe {
//                 width: 100%;
//                 height: 14vw;
//                 background-color: red;

//             }
//         }
//     }
// }
.map_contact {
    width: 100%;
    height: 35vw;
    background-color: blueviolet;
}

iframe {
    width: 100%;
    height: 35vw;
}
.input_contact{
       width: 100%;
    height: 40vw;
    // background-color: red;
}
.contact_first_div{
    text-align: start;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    h1{
        font-family: $font_page;
        font-size: 22px;
    }
    h2{
        font-size: 30px;
        padding-left: 30px;
    font-family: $font_page;

    }
    i{
        color: $orange_color;
        padding-right: 20px;
    }
    p{
        padding-left: 30px;
        color: rgb(168, 158, 158);
    }
    .div_contact{
        border-bottom: 1px solid;
        width: 80%;
        align-items: center;
        justify-content: center;
        padding: 30px;
 
    }
}
   button{
          background-color: $orange_color;
        padding: 15px 70px;
        border-radius: 5px;
        border: none;
        color: white;
    }

  .input_last{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        row-gap: 10px;
  }
  .div_chaf_in_card{
    h1{
        font-family: $font_page;
        font-size: 30px;
    }
  }
  .div_i_chaf{
    position: absolute;
    top: 350px;
    i{
        color: gray;
    }
  }
    i:hover{
        color: $orange_color;
    }

.form-control:focus {
  outline: none;           
  box-shadow: none;      
  border-color: #ced4da;   
}
.btn:focus,
.btn:active {
  outline: none;
  box-shadow: none;
}

textarea:focus:focus,textarea {
  outline: none;
  box-shadow: none;
//   border: none;
}
