@import url("https://fonts.googleapis.com/css2?family=Satisfy&family=Stack+Sans+Headline:wght@200..700&display=swap");
.nav_botona {
  background-color: rgb(255, 176, 59);
  padding: 5px 25px;
  border: none;
  outline: none;
  border-radius: 40px;
  font-weight: bold;
  color: white;
}

nav {
  position: fixed;
}

.part_1 {
  width: 75%;
  display: flex;
}
.part_1 .div_1 {
  justify-content: space-between;
}
.part_1 i {
  color: rgb(255, 176, 59);
}

.part_2 {
  width: 75%;
}
.part_2 h1 {
  font-family: "Satisfy", cursive;
  font-weight: 400;
  font-style: normal;
  color: white;
}
.part_2 ul {
  list-style-type: none;
}
.part_2 ul a {
  text-decoration: none;
  color: white;
}

a:hover li {
  color: rgb(255, 176, 59);
}

.hamza_carousil_1 {
  position: relative;
}

.imgss_carosil {
  width: 100%;
  height: 45.5vw;
}

.part_2 {
  width: 100%;
  height: 4vw;
  background-color: rgb(33, 30, 24);
  background-color: rgba(0, 0, 0, 0.5);
  padding-left: 115px;
  padding-right: 115px;
}
.part_2 .h1_part_2 {
  font-size: 30px;
  font-weight: bold;
}

.hamza_carousil_1 p {
  text-align: start;
  font-size: 18px;
}
.hamza_carousil_1 .hamza_carousil_1 {
  position: absolute;
  background-color: firebrick;
  z-index: 1;
  display: table;
  width: 100%;
  height: 100%;
}
.hamza_carousil_1 .hamza_div_2 h1 {
  font-family: "Satisfy", cursive;
}
.hamza_carousil_1 .carousel-caption {
  bottom: 20.25rem;
  font-size: 22px;
}
.hamza_carousil_1 .carousel-caption h5 {
  font-family: "Satisfy", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 60px;
}
.hamza_carousil_1 .carousel-caption .Delicious {
  color: rgb(255, 176, 59);
}

.mian_links {
  height: max-content;
  width: 100%;
  display: flex;
  flex-direction: row;
  column-gap: 30px;
  justify-content: center;
}
.mian_links a {
  text-decoration: none;
  list-style: none;
  color: white;
  border: 2px solid rgb(255, 176, 59);
  border-radius: 50px;
  padding: 5px 15px;
}
.mian_links a:hover {
  background-color: rgb(255, 176, 59);
  transition: 0.5s;
}

.sec_main_2 {
  background-color: rgb(255, 250, 242);
  width: 100%;
  height: 31vw;
}

.carosil_icons_sec2 {
  width: 100%;
  height: 30vw;
  display: flex;
}
.carosil_icons_sec2 .carousil_video {
  width: 50%;
  height: 25vw;
}
.carosil_icons_sec2 .carousil_video img {
  overflow: auto;
  width: 100%;
}
.carosil_icons_sec2 .para_and_icons {
  width: 50%;
  height: 25vw;
}
.carosil_icons_sec2 .para_and_icons .icons_color i {
  color: rgb(255, 176, 59);
}
.carosil_icons_sec2 .para_and_icons h1 {
  font-family: "Satisfy", cursive;
  font-weight: 400;
  font-style: normal;
  color: rgb(66, 62, 56);
  font-size: 50px;
  font-weight: bold;
}
.carosil_icons_sec2 .para_and_icons .para_last {
  padding-left: 20px;
}

.WhyUs_and_para {
  width: 100%;
  height: 10vw;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.WhyUs_and_para h5 {
  color: rgb(0, 0, 0);
}
.WhyUs_and_para p {
  font-family: "Satisfy", cursive;
  font-weight: 400;
  font-style: normal;
  color: rgb(17, 17, 17);
  font-size: 30px;
}
.WhyUs_and_para .Our_Restaurant {
  color: rgb(255, 176, 59);
}
.WhyUs_and_para h5 {
  background-color: rgb(255, 247, 235);
  color: rgb(255, 176, 59);
  border-radius: 25px;
  width: max-content;
  padding: 3px 15px;
}

.sec_main_3 {
  background-color: rgb(255, 255, 255);
}

.boxxx_sec_3 {
  height: 13vw;
  width: 100%;
  padding-bottom: 20px;
  text-align: start;
}
.boxxx_sec_3 div {
  display: flex;
  justify-content: center;
  background-color: rgb(250, 250, 250);
  flex-direction: column;
  row-gap: 8px;
  transition: 0.5s;
  padding-left: 40px;
}
.boxxx_sec_3 h1 {
  font-size: 35px;
  color: rgb(255, 176, 59);
}
.boxxx_sec_3 h2 {
  font-family: "Satisfy", cursive;
  font-weight: 400;
  font-style: normal;
  color: rgb(17, 17, 17);
  font-size: 25px;
}
.boxxx_sec_3 p {
  color: gray;
  font-size: 15px;
}
.boxxx_sec_3 div:hover {
  background-color: rgb(255, 176, 59);
}
.boxxx_sec_3 div:hover h2,
.boxxx_sec_3 div:hover p,
.boxxx_sec_3 div:hover h1 {
  color: white;
}

.sec_main_4 {
  width: 100%;
  height: 47.5vw;
}
.sec_main_4 .menu_div {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 10vw;
  justify-content: center;
}
.sec_main_4 .menu_div h1 {
  background-color: rgb(255, 247, 235);
  color: rgb(255, 176, 59);
  border-radius: 25px;
  width: max-content;
  padding: 3px 15px;
  font-size: 22px;
}
.sec_main_4 .menu_div p {
  font-family: "Satisfy", cursive;
  font-weight: 400;
  font-style: normal;
  color: rgb(17, 17, 17);
  font-size: 30px;
}

.between_img {
  position: relative;
}

.carousil_between_img {
  position: absolute;
  top: 1121px;
  left: 589px;
}

.carousil_between_img {
  background-color: rgb(255, 176, 59);
  width: 80px;
  height: 80px;
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
}
.carousil_between_img i {
  color: white;
  font-size: 40px;
}

.sec_main_2 button:hover {
  padding: 45px;
  border-radius: 50%;
  animation-name: mohamza;
  animation-duration: 1s;
}
.sec_main_2 button:hover .bi-play-fill {
  font-size: 150px;
  transition: 150ms;
}

.div_only_sass {
  width: 100%;
  height: 86.5vh;
  display: flex;
}
.div_only_sass .div_only_sass_part_1 {
  width: 50%;
  height: 86.5vh;
  display: flex;
  flex-direction: column;
  row-gap: 50px;
  font-size: 25px;
}
.div_only_sass .div_only_sass_part_2 {
  width: 50%;
  height: 86.5vh;
  display: flex;
  flex-direction: column;
  row-gap: 50px;
  font-size: 25px;
}
.div_only_sass img {
  border-radius: 50%;
  width: 70px;
  height: 70px;
}
.div_only_sass .div_span_menu {
  display: flex;
  flex-direction: column;
  font-size: 15px;
}
.div_only_sass .div_img_and_span {
  width: 100%;
  height: max-content;
  display: flex;
  flex-direction: row;
  column-gap: 11px;
}
.div_only_sass .div_img_and_span .span_menu_colorGrey {
  color: gray;
  font-size: 15px;
  font-style: italic;
}
.div_only_sass .div_img_and_span .img_backgr {
  background-color: rgb(237, 237, 237);
  width: 80px;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50px;
}
.div_only_sass .div_img_and_span .dolar_menu {
  color: rgb(255, 176, 59);
  font-weight: bold;
}
.div_only_sass .div_img_and_span .point_for_menu {
  color: gray;
}

.links_menu_only_Sass {
  width: 100%;
  height: 5vw;
  display: flex;
  flex-direction: row;
  column-gap: 20px;
  align-items: center;
  justify-content: center;
}
.links_menu_only_Sass div a {
  text-decoration: none;
  color: gray;
  font-family: "Satisfy", cursive;
  font-weight: 400;
  font-style: normal;
}
.links_menu_only_Sass a:hover {
  color: rgb(255, 176, 59);
}

.sec_main_5 {
  width: 100%;
  height: 28vw;
}

.WhyUs_and_para {
  width: 100%;
  height: 10vw;
}

.sec_main_5 .image {
  width: 100%;
  height: 100%;
}
.sec_main_5 img {
  width: 75%;
  height: 100%;
}

.collapseExampleee_link p {
  text-align: start;
}
.collapseExampleee_link a {
  font-weight: bold;
  font-size: 15px;
}
.collapseExampleee_link p:hover {
  color: rgb(255, 176, 59);
}

#hamza_speacil {
  width: 1800px;
}

.h1_para_specials {
  text-align: start;
}
.h1_para_specials h1 {
  font-size: 25px;
  font-weight: bold;
  font-family: "Satisfy", cursive;
}
.h1_para_specials p {
  font-size: 15px;
}

.sec_main_6 {
  background-color: blue;
  width: 100%;
  height: 32vw;
}
.sec_main_6 .part_1 {
  flex-direction: column;
}
.sec_main_6 .part_1 h5 {
  font-family: "Satisfy", cursive;
  font-size: 40px;
  font-weight: bold;
}
.sec_main_6 .part_1 p {
  font-weight: bold;
  font-size: 30px;
}
.sec_main_6 .part_1 .gg {
  border-bottom: orange 3px solid;
}
.sec_main_6 ul {
  list-style-type: none;
}
.sec_main_6 .image_sec_6 {
  width: 100%;
  height: 100%;
}
.sec_main_6 .image_sec_6 img {
  width: 100%;
  height: 100%;
}
.sec_main_6 .carousel-indicators [data-bs-target] {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: rgb(255, 176, 59);
}
.sec_main_6 .carousel-indicators [data-bs-target]:active {
  background-color: rgb(255, 176, 59);
}

.sec_7_BookA_Table {
  width: 100%;
  height: 42vw;
}
.sec_7_BookA_Table .span_book_a_table {
  color: rgb(255, 176, 59);
}
.sec_7_BookA_Table .WhyUs_and_para {
  width: 100%;
  height: 10vw;
}
.sec_7_BookA_Table .input_and_img_sec_7 {
  background-color: rgb(250, 250, 250);
  width: 100%;
  height: 30vw;
}
.sec_7_BookA_Table .img_sec_7 img {
  width: 100%;
  height: 100%;
}

.input_and_img_sec_7 div {
  height: 100%;
}

.input_divs div {
  width: 100%;
  height: max-content;
}

.input_sec_7 div {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  row-gap: 20px;
}
.input_sec_7 div .input_part_1 {
  flex-direction: row;
}
.input_sec_7 div .input_part_2 {
  flex-direction: row;
}
.input_sec_7 div .div_1_input input {
  border: none;
  outline: none;
  padding: 5px;
}
.input_sec_7 div .wawawaw {
  width: 100%;
  height: 100%;
}
.input_sec_7 div .butttn button {
  background-color: rgb(255, 176, 59);
  padding: 15px 70px;
  border-radius: 5px;
  border: none;
  color: white;
}

.input_sec_7 input {
  background-color: rgb(255, 255, 255);
}

.input_time input {
  width: 240px;
}

.sec_8_Gallery {
  width: 100%;
  height: 48vw;
}
.sec_8_Gallery .span_gallery_color {
  color: rgb(255, 176, 59);
}
.sec_8_Gallery .parnt_sec8 div {
  height: 100%;
}
.sec_8_Gallery .img_sec8 {
  height: max-content;
}

.parnt_sec8 {
  width: 100%;
  height: max-content;
  row-gap: 20px;
}
.parnt_sec8 img {
  width: 100%;
  height: max-content;
  transition: 0.5s;
}
.parnt_sec8 .img_sec8:hover {
  padding: 1px;
}

.sec_10 {
  background-color: aquamarine;
  width: 100%;
  height: 30vw;
}

.sec_11 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  row-gap: 30px;
}

.map_contact {
  width: 100%;
  height: 35vw;
  background-color: blueviolet;
}

iframe {
  width: 100%;
  height: 35vw;
}

.input_contact {
  width: 100%;
  height: 40vw;
}

.contact_first_div {
  text-align: start;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.contact_first_div h1 {
  font-family: "Satisfy", cursive;
  font-size: 22px;
}
.contact_first_div h2 {
  font-size: 30px;
  padding-left: 30px;
  font-family: "Satisfy", cursive;
}
.contact_first_div i {
  color: rgb(255, 176, 59);
  padding-right: 20px;
}
.contact_first_div p {
  padding-left: 30px;
  color: rgb(168, 158, 158);
}
.contact_first_div .div_contact {
  border-bottom: 1px solid;
  width: 80%;
  align-items: center;
  justify-content: center;
  padding: 30px;
}

button {
  background-color: rgb(255, 176, 59);
  padding: 15px 70px;
  border-radius: 5px;
  border: none;
  color: white;
}

.input_last {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  row-gap: 10px;
}

.form-control:focus {
  outline: none;
  box-shadow: none;
  border-color: #ced4da;
}

.btn:focus,
.btn:active {
  outline: none;
  box-shadow: none;
}

footer {
  background-color: rgb(31, 22, 13);
  width: 100%;
  height: max-content;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
footer h1, footer p, footer span {
  color: white;
}

.footer_font_size a {
  flex-direction: row;
  column-gap: 12px;
  font-size: 20px;
  padding: 5px;
  border: 1px solid gray;
  border-radius: 50%;
}
.footer_font_size a:hover a {
  border: 1px solid orange;
}
.footer_font_size a:hover i {
  color: rgb(255, 176, 59);
}
.footer_font_size a i {
  color: gray;
}
.footer_font_size h1 {
  font-family: "Satisfy", cursive;
  font-size: 20px;
}

.footer_div_part_1 {
  padding-bottom: 80px;
  width: 100%;
  height: max-content;
  border-bottom: 1px solid rgb(56, 53, 53);
  text-align: start;
}
.footer_div_part_1 p {
  font-size: 13px;
  line-height: 1;
}

.spaan, i {
  color: rgb(255, 176, 59);
}

#btn-back-to-top {
  position: fixed;
  bottom: 40px;
  right: 40px;
  display: none;
  z-index: 999;
}

/*# sourceMappingURL=app.css.map */
